/* your styles go here */

.owl-prev {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    margin-left: -20px;
    display: block !important;
    border:0px solid black;
}

.owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    right: -25px;
    display: block !important;
    border:0px solid black;
}
.owl-prev i, .owl-next i {transform : scale(1,6); color: #ccc;}

#cartsvg {
    width: 2vw;
    height: auto;
}

.cartlogo {
    position: absolute;
    top: 1vh;
    right: 1vw;
    z-index: 9;
}

.cartlogo svg {
    display: block;
    margin: auto;
}

a.peecho-btn-okay .peecho-print-button .peecho-btn .peecho-btn-tooltip {
    border-color: black;
    cursor: pointer;
    color: black;
    text-shadow: grey;
    background: white;
}