{{ if isset .Site.Params "carousel" }}
{{ if .Site.Params.carousel.enable }}
{{ if gt (len .Site.Data.carousel) 0 }}
<section>
        <div class="container">
            <div class="owl-carousel">
                {{ range sort .Site.Data.carousel "weight" }}
                    {{ if not (.project | eq .Params.project) }}
                    <div class="item">
                        <img class="img-responsive" src="{{ .image }}" alt="">
                    </div>
                    {{ end }}
                {{ end }}
            </div>
        </div>
   
</section>
{{ end }}
{{ end }}
{{ end }}