{{ $Images := .Params.carouselimages }}

{{ $summary := .Params.summary }}
{{ $url := .Site.BaseURL}}

{{ if isset .Site.Params "carousel" }}
{{ if .Site.Params.carousel.enable }}
<section>
        <div class="container">
            <div class="owl-carousel">
                {{ range $Images }}
                    <div class="item">
                        <img class="img-responsive" src="{{$url}}/{{.}}" alt="{{$summary}}">
                    </div>
                {{ end }}

            </div>
        </div>
   
</section>
{{ end }}
{{ end }}